html, .body{
    padding: 0;
    margin: 0;
    height: 100%;
}

header video {
    position: absolute; /* Positions the video so that it can be placed behind the content */
    top: 0; /* Aligns the video to the top of the page */
    left: 0;

    width: 100%; /* Makes the video take up the full width of the page */
    height: 100%; /* Makes the video take up the full height of the page */
    object-fit: cover; /* Ensures the video covers the entire area without distortion */
    z-index: -1; /* Places the video behind the content */
}

header .content{ 
    z-index:1;
    color: white;
}