html, .body{
    padding: 0;
    margin: 0;
    height: 100%;
}

header{
    height: 100vh; /* Makes the header take up the full viewport height */
    display: grid; /* Uses CSS Grid to position the content */
    grid-template-areas: "stack";
    place-items: center; /* Centers the content both horizontally and vertically */
}

header video {
        grid-area: stack; /* Places the content in the same grid area as the video */

    width: 100%; /* Makes the video take up the full width of the page */
    height: 100%; /* Makes the video take up the full height of the page */
    object-fit: cover; /* Ensures the video covers the entire area without distortion */
    z-index: -1; /* Places the video behind the content */
}

header .content{ 
    grid-area: stack; /* Places the content in the same grid area as the video */
    font-family: Arial, sans-serif;
    z-index:1;
    color: white;
    width: 100%;
    padding: 2rem;
}

button{
    color: white;
    background-color: rgb(139, 0, 204);
    border-radius: 5px; 
    font-size: medium;
    padding:  10px 20px;
    border: none;
}