body {
  display: grid;
  place-items: center; /* centers both horizontally and vertically */
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
  background: #161616;
}

.child-1 {
  background-color: #006;
  grid-column: 1 / 3; /* spans from column 1 to column 3 */
    grid-row: 1 / 2;
    opacity: 0.8;
}

.child-2 {
  background-color: purple;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
